
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  padding: 15px;
}


.container {
  border-radius: 5px;
  padding: 30px;
  text-align: left;
}